.pagination div, .pagination li {
 list-style-type: none;
 float:right;
 margin: 0px 0 30px ;
 list-style: none;             

}
.row_footer_pagecontent {
  
    font-size: 0;
    letter-spacing: -0.31em;
    margin: 0;
    word-spacing: -0.43em;
}
spanred {
	width: 250px;
	float:right;
	height:30px;
	display:block;
	text-align:right;
	margin:0 auto;
	font-family: 'OpenSansRegular';
	color: #FF0000;
	line-height: 1.6;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.field-name validmsg { border: 1px dotted red; }
.validmsg	{ font-size:11px; color:#FF0000;float: right;}
.customErrorClass
{
color: #ff0000;
    float: right;
    height: 36px;
    padding-right: 151px;
    width: 100%;
}
.spanvalidate
  {
	color: #ff0000;
    font-family: "OpenSansRegular";
    line-height: 1.6;
    text-align: right;
	width:100%;
  }
.customError
{
color:#FF0000;
}
.customErrorClass2
{
color: #ff0000;
    float: right;

 
    width: 100%;
}