body{
	text-align:left !important;
}
.pagination div, .pagination li {
 list-style-type: none;
 float:left;
 margin: 0px 0 30px ;
 list-style: none;             

}
.row_footer_pagecontent {
  
    font-size: 0;
    letter-spacing: -0.31em;
    margin: 0;
    word-spacing: -0.43em;
}
spanred {
	width: 250px;
	float:left;
	height:30px;
	display:block;
	text-align:left;
	margin:0 auto;
	font-family: 'OpenSansRegular';
	color: #FF0000;
	line-height: 1.6;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.success {
text-align:center;
color:green;
}
.fail {
text-align:center;
color:#FF0000;
}
.field-name validmsg { border: 1px dotted red; }
.validmsg	{ font-size:11px; color:#FF0000;}

.customErrorClass
{
color: #ff0000;
    float: left;
    height: 36px;
    padding-left: 151px;
    width: 100%;
}

/* Popup Style----------------------------------------------------------Start-----*/
/* Popup Style----------------------------------------------------------End-----*/

#popup2							{position:fixed; width:100%; left:0; top:0; background: rgba(0,0,0,0);
								 display:none; min-height:100%; z-index:200;}
#popup2 .maodule					{ width:300px; margin:150px auto; padding:0; border:5px solid #000;background-color: #ffffff;}
#popup2 a.close-btn				{position:absolute; background:url(../images/close-btn.png) no-repeat scroll center top; width:35px; height:35px;
								 margin-top:-25px; margin-left:290px; text-indent:-999999px;}
#popup2 a:hover.close-btn		{background-position:center bottom}
#popup2 h1						{border-bottom:1px solid #ccc; padding:0 0 10px 0; margin:0 0 20px 0;}


.customErrorClass2 {
    color: #ff0000;
   /* float: left;
    width: 100%;*/
}


