body {
	color: #383838;
	font-family: 'Lato', sans-serif;
	/* font-weight: bold; */
	font-size: 16px;
	word-wrap: break-word;
	text-align:justify;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-weight:bold;
	}
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-color: #524444;
	background-size: 20px;
	border-radius: 6px;
	padding:20px;
}
.pro_head_new {
	font-size: 20px;
	margin-bottom: 20px;
}
#navbarNav{
	width:75%;
	position:relative;
}
.pad_left_30{
	padding-left:30px;
}
.mar_top_75{
	margin-top:75px;
}
.mar_top_55{
	margin-top:55px;
}
.navbar-brand {
	width: 306px;
}
.navbar-brand img{
	width:100%;
}
.text-right{
	text-align:right;
}
.slide_coment{
	position:absolute;
	top:50%;
	color:#fff;
	text-align:center;
	width:100%;
}
.feature {
	background-color: yellowgreen;
	color: greenyellow;
	}
.navbar-light .navbar-nav .nav-link {
	color: #22222c;
	text-transform: uppercase;

	font-size: 13px;
	padding:12px 50px;
}
.article-intro {
    margin-bottom: 25px;
}
.bg-light {
	background-color: #fff !important;
}

.img-rounded {
	border-radius: 7px;
}

.small-print {
	background-color: #000;
	padding: 30px 0;
	border-top: 1px solid #2c2a2a;
}
.title-a {
	font-size: 2.6rem;
	font-weight: 600;
}

.mng_ui .nav-tabs {
	width: 63%;
	margin: 0 auto;
	background: #f7f8fb;
	border-radius: 7px;
	margin-bottom: 37px;
	border-bottom: 4px solid #f7f8fb;
}

/* css for box start here */
.costnqua{

}
.pro_head {
	padding: 12px;
	background: #f3f3f5;
	border-radius: 7px;
	margin-top: 5px;
	text-align: center;

}
.mng_mob{
	margin-bottom:15px;
}
.item{
	margin-bottom:15px;
}
.tab .owl-carousel .owl-nav button.owl-next, .tab .owl-carousel .owl-nav button.owl-prev {
	background: #000;
	color: inherit;
	border: none;
	padding: 4px 4px 18px !important;
	font: inherit;
	border-radius: 5px;
	font-size: 61px;
	color: #fff;
	line-height: 28px;
	background:#524444;
	opacity:0.4;
}
.pro_box img{
	border-radius:5px;
	width:100%;
}
.pro_box {
	margin-bottom: 15px;
}
.main_head {
	border-left: 4px solid #000;
	padding-left: 25px;
	margin-bottom: 30px;
	font-weight: bold;
}
.navbar-right {
	float: right !important;
	margin-right: -15px;
}
.nav_right_head {
	display: inline-block;
	/* width: 100%; */
	text-align: right;
	list-style-type: none;
	padding: 0px;
	position: absolute;
	right: 0;
	margin:0px;
}
.btn-secondary{
	background:#f3f3f5;
	color:#000;
	text-transform:uppercase;
	border:0px;
	font-weight:bold;
	padding:6px 17px;
}
.nav_right_head li {
	display: inline-block;
	padding: 0px 0px 0px 21px;
	color: #000;
	margin:0px;
}
.nav-item {

}
/* css for box end here */



/* css for pramotion box start here */
.fluid_im {
	width: 100%;
}
/* css for pramotion box end here */


/* css for footer start here */
.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}

.footer-blurb-item {
    padding: 30px;
    }
.item-list-a .fa-angle-right{
	display:none;
}
.blocks .list-unstyled li {
	float: none;
	display: inline-block;
}
.blocks .list-unstyled li .fa {
	color: #ababab;
	font-size: 36px;
	margin: 0px 8px 0px 0px;
}
.section-footer {
	padding-top: 60px;
	margin-top: 60px;
	background: #000;
}
.list-unstyled a {
	font-size: 14px;
	color: #c3c3c3;
	display: block;
	padding: 5px 0px;
	font-weight: normal;
}
.w-body-a.im_img p {
	color: #c3c3c3;
	font-weight: normal;
}
.list-unstyled a:hover{
	color:#fff;
}
/* css for footer end here */

.tab .owl-stage-outer {

	margin: 0 auto;

}

/* css for tab section start here */
.tab nav > .nav.nav-tabs {
	border: none;
	color: #fff;
	border-radius: 0;
	margin-bottom: 25px;
}
.tab nav {
	margin: 0 auto;
}
.tab .owl-next{
	float:right;
}
.tab .owl-nav {
	position: absolute;
	top: 41%;
	width: 100%;
}

.tab nav > div a.nav-item.nav-link,
.tab nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
     border-radius: 5px;
	 background:#f3f3f5;
}
.section-footer .w-title-a {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	padding-bottom: 25px;
}
.tab nav > div a.nav-item.nav-link.active{

}
.nav-tabs .nav-item {
	margin-bottom: -1px;
	width: 203px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #222222;
}
/*
.tab nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}
*/
.tab .tab-content{
  background: #fdfdfd;
    line-height: 25px;

    padding:30px 25px;
}

.tab nav > div a.nav-item.nav-link:hover,
.tab nav > div a.nav-item.nav-link:focus,
.tab nav > div a.nav-item.nav-link.active

{
  border: none;
    background: #000;
    color:#fff;
    transition:background 0.20s linear;
}
/* css for tab section start here */


/* css for carosel product start here */
.item{
	text-align:center;
}
.car_pro_head {
	color: #22222c;
	font-size: 16px;
	font-weight: normal;
	margin: 11px 0px;
}
.cost{
	color:#97979c;
	font-size:16px;
	font-weight:normal;
}
/* css for carosel product end here */

/* css for inner pages */
.mod_head {
	text-align: left;
	font-size: 16px;
	color: #000;
	font-weight: normal;
	padding: 10px;
}
.head_bold .car_pro_head, .head_bold .cost {
	font-weight:normal;
}
.mng_div{
}
.logo_img {
    width: 296px;
}
.left_space{
	margin-left:140px;
}
.inner_head {
	color: #acacb0;
	font-weight: bold;
	margin-bottom: 30px;
	font-size:20px;
}
.inner_head span{
	color:#000;
}
.footer_atl img{
	width:25px
}
#navbarDropdown {
}
.navbar-light .dropdown-toggle::after {
    position: absolute;
    top: 22px;
right:5px;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .dropdown-item:hover {
	color: #fff;
	background: #000;
	border-radius:5px;
}
/* css for inner pages end here */

/* css for about us page start here */
.big_font{

}
.subhead{
	font-size:20px;
	color:#222;
	font-weight:bold;
}
.mar_bot_141 {
	margin-bottom: 141px;
}
.mar_top_bot_65 {
	margin-top: 65px;
	margin-bottom: 65px;
}
/* css for shop detail page start here */
.mar_top_35{
	margin-top:35px;
}
.btn_default {
	background: #222222;
	padding:10px 31px;
	font-size: 17px;
	color: #fff;
	font-weight: bold;
}
.mng_bu {
	width: 130px;
	margin: 0 auto;
}
.mng_bu .btn_left {
	border-radius: 5px 0px 0px 5px;
}
.mng_bu .btn:hover{
	background:#f0f0f0;
	box-shadow:none;
}
.mng_bu .btn_right{
	border-radius:0px 5px 5px 0px;
}
.mng_bu .form-control{
	border:0px;
	background:#f0f0f0;
	text-align:center;
}
.select_mng select:active,
.select_mng select:focus{
	box-shadow:none;
}
a:focus, select{
outline:0px;
}
.btn:active,
.btn:focus,
.btn.active,


{
	 background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
 }
.mng_form{
	background:#f3f3f5;
}
.select-style {
	/* border: 1px solid #ccc; */
	border-radius: 3px;
	overflow: hidden;

}
.gift select.form-control:not([size]):not([multiple]){
	background: #f3f3f5 url("../img/icon-select.png") no-repeat 90% 53%;
}
select.form-control:not([size]):not([multiple]){
	background: #f3f3f5 url("../img/icon-select.png") no-repeat 97% 53%;
}
.select-style select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}


.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width:80px;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
.plus-minus-input .input-group-button .circle {
	border-radius: 50%;
	padding: 0.25em 0.8em;
	border: 0px;
	background: transparent;
}
.select-styl {
	clear: both;
	/* border: 1px solid red; */
	width: 156px;
	padding: 0px 5px;
	background: #f3f3f5;
	border-radius: 5px;
	margin:0 auto;
}
.select-styl .plus-minus-input .input-group-field {
	width: 59px;
	border: 0px;
	background: transparent;
}
.bg_gray {
	background: #f3f3f5;
	font-weight: normal;
	font-size: 15px;
	overflow: auto;
	border-radius: 5px;
}
.bg_gray p {
	margin-bottom: 25px;
}
.bg_gray .fa {
	font-size: 30px;
	float: left;
	margin: 0px 7px 0px 0px;
}
.brd_left {
	border-right: 3px solid #c7c7c8;
	padding-right: 255px;
}
.brd {
	padding: 30px 0px 30px 35px;
	margin-bottom:15px;
}
.bg_gray p:last-child {
	margin: 0px;
}
.bg_gray h4 {
	margin-bottom: 25px;
}
.Celebrities .mod_head {
	text-align: center;
	margin: 18px 0px 35px;
}
.padd_25 {
	padding: 25px 25px 45px;
	background: #f3f3f5;
	border-radius: 5px 5px 0px 0px;
}
.bg {
	background: #e7e7eb;
	padding: 9px;
	border-radius: 5px;
}
.form-group label {
	font-size: 14px;
	font-weight: normal;
}
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-append > .btn, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-prepend > .input-group-text {
	padding: 0.9rem 1rem;
	font-size: 14px;
	color: #8c8c91;
}
.padd_25 .fa {
	margin-bottom: 17px;
}

.heading_table{
	padding:25px 0px;
	margin:0px;
	border-bottom:3px solid #f3f3f5;

}
.bu_mng {
	/* border: 1px solid red; */
	margin-top: 45px;
}
ul{
	list-style-type:none;
}
.heading_table li {
	width: 19%;
	display: inline-block;
	text-align: center;
}
.brd_sm.heading_table {
	border-bottom: 1px solid #f3f3f5;
	font-size: 15px;
}
.form-group-new{
	margin-top:35px;
}

.select_big Select {
    border: 1px solid #ced4da;
    height: 50px!important;
}
.container_radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position:absolute;
}

/* Hide the browser's default radio button */
.container_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container_radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_radio input:checked ~ .checkmark {
  background-color: #000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container_radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.btn:hover{
	background:transparent;
-webkit-box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.75);
color:#000;
}
.img_holder img{
	margin:0px 2px;
}
.mar_top_25{
	margin-top:25px;
}
.heading_table.brd_sm.total {
	padding: 0px;
	border: 0px;
}
.curcule {
	background: transparent;
	padding: 4px;
	border-radius: 50%;
	border: 2px solid #e3e3e3;
	color: #e3e3e3;

}
.icon_cover {
	float: left;
	padding: 9px 14px;
	margin: 0px 26px 26px 0px;
	background: #f3f3f5;
	border-radius: 5px;
}
.mar_top_35{
	margin-top:35px;
}
.mar_bottom_35{
	margin-bottom:35px;
}
.select_mng label {
	margin-top: 7px;
}
.footer_atl {
	font-size: 13px;
	font-weight: normal;
	color:transparent;
}
a:hover{
	text-decoration:none;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
	padding: 15px 15px 15px 15px;
	border:none;
-webkit-box-shadow: 0px -1px 22px 0px rgba(217,217,217,1);
-moz-box-shadow: 0px -1px 22px 0px rgba(217,217,217,1);
box-shadow: 0px -1px 22px 0px rgba(217,217,217,1);
}
.navbar-expand-lg .navbar-nav .dropdown-menu a{
	border-radius:5px;
}
.container {
	max-width: 90%;
	width: 90%;
}
.newClass .navbar{
	padding:0px 1rem
}
.newClass .navbar-brand {
	width: 246px;
}
.pop_im {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
}
.pop_im h4, .pop_im h1{
	color:#fff;
}
.select_mng label{
	float:left;
}
.select_mng select{
width:125px;
}
/*
.navbar-light .nav_right_head .dropdown-toggle::after {
position: absolute;
top: -4px;
left: -3px;
cursor: pointer;
}
*/

