
ul{
	padding:0px;
}
.mng_tab.tab .tab-content {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.mng_tab.tab .nav-fill .nav-item {

	width: 30%;
}
.card-heade{
	margin-top: 10PX;
}
.mng_tab.tab .nav-fill .nav-item .nav-link{
	padding: 0.8rem 1rem;
}
.mng_tab.tab .nav-fill .nav-item .nav-link.active{
	background-color:#333;

}
.container_ch_mng .form-check {
	padding-left: 2.25rem;
	display: inline-block;
	margin: 0px 24px 0px 0px;
}
.navbar-expand-lg .navbar-nav li {
	margin: 0px 0px 0px 9px;
}
.container_ch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_ch:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_ch input:checked ~ .checkmark {
	background-color: transparent;
	border: 1px solid #000;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_ch input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_ch .checkmark::after {
	left: 5px;
	top: 5px;
	width: 13px;
	height: 13px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #222222;
	border-radius: 7px;
}

.pro_hold .small_head span {
	display: block;
	color: #c6c6c6;
	margin: 26px 0px -1px;
	font-weight: 600;
	font-size: 14px;
}
.pro_hold .small_head {
	font-size: 15px;
	font-weight: bold;
}
.pro_hold h6 {
	font-size: 20px;
	margin: 8px 0px 0px;
}
.pro_hold {
	background: #f3f3f5;
	text-align: center;
	padding: 35px;
	border-radius:7px;
	margin-bottom:35px;
}
.pro_hold_img {
	border-radius: 50%;
	overflow: hidden;
	width: 85px;
	height: 85px;
	margin: 0 auto;
}

.mar_left_45{
	margin-left:45px;
}
.res_cart table {
	max-width: 965px;
	width: 100%;
}
.res_cart table th {
	text-align: left;
	width: inherit;
	font-weight: normal;
	border-bottom:4px solid #f3f3f5;
	padding: 13px 0px !important;
}
.res_cart table th.total_tab, .res_cart table td.total_tab {
	width: 123px;
}

.res_cart table th.des.mng_im_wi, .res_cart table td.des.mng_im_wi {
	width: 105px;
}
.res_cart table th.des, .res_cart table td.des {
	width: 180px;
}
.res_cart table tr.mng_tr td {
	padding-top: 0px !important;
	padding-bottom: 0px;
	border-bottom:0px;
}
.res_cart table tr.mng_tr2 td{
	border:0px;
}
.res_cart table tr td.brd_none{
	border:0px;
}
.text_right{
	text-align:right;
}
.pad-top25 {
	padding-top: 82px !important;
}

.res_cart table tr.mng_tr.pad_top td {
	padding-top: 35px !important;
}
.res_cart table td{
	padding-top:35px;
}
.res_cart table td.mngtd, .res_cart table th.mngtd {
	width: 125px;
	padding: 0px 58px !important;
}
.res_cart table th.mngtd {
	width: 125px;
	padding:12px 58px !important;
}
.res_cart table td.mngtd2 {
	padding: 34px 58px 0px !important;
}
.res_cart table tr td {
	border-bottom: 4px solid #f3f3f5;
	padding-bottom: 25px;
}

/*****************************************/
.iti { width: 100%; }
.hide{
	display: none;
}
#valid-msg{
	color: green;
}

#error-msg{
	color: red;
}

.nav_right_head .drop_panel2 li img {
	width: 100%;
	vertical-align: top;
}
.nav_right_head .drop_panel2 li{
	vertical-align:top;
}
.nav_right_head .drop_panel2 li p {
	font-size: 15px;
	border: 0px;
	margin: 0px 0px 4px 6px;
}
.nav_right_head .drop_panel2 li p a{
	font-size:13px;
	color:#555;
	font-weight:bold;
}
.remove-item .fa{
	color:#555;
}

.drop_panel a:hover{
	color:#ccc!important;


}
.drop_panel .fa, .mod_bu .fa{
	margin:0px 3px 0px 0px;
}
.drop_panel, .drop_panel2 {

	position: absolute;
	width: 187px;
	right: 0;
	border-radius:3px;
	padding:4px 8px;
	display: none;
	text-align:left;
	border:1px solid #efefef;
	background:#fff;
}
.drop_panel2 h6 {
	font-weight: normal;
	text-align: center;
	font-size: 13px;
	padding: 15px 15px 0px 15px;
	margin: 0px;
	border-bottom:1px solid #ccc;
	padding-bottom:12px;
}
.drop_panel2 {
	display: none;
	width: 400px;
	/* width: 100%; */
}
.nav_right_head .drop_panel2 li:nth-child(1){

	padding:10px;
	margin:0px;
	width:85px;
}
.nav_right_head .drop_panel2 li:nth-child(2) {
	/* border: 1px solid blue; */
	padding: 10px;
	margin: 0px;
	width: 248px;
}



.mod_bu:hover .drop_panel, .mod_bu2:hover .drop_panel2{
	display: block;


}
.mod_bu, .mod_bu2{
	cursor:pointer;

}
.nav-item.mod_bu a {
	color: #000;
	font-weight: normal;
	font-size: 15px;
		position:relative;
}
.mod_bu2{
	position:relative;
}
.drop_panel p, .drop_panel2 p{
	margin:0px;
	border-bottom:1px solid #efeded;
}
.drop_panel p:last-child, .drop_panel2 p:last-child{
	border:none;
}

body {
	color: #383838;
	font-family: Lato, sans-serif;
	font-size: 16px;
	word-wrap: break-word;
	text-align: justify;
	padding-top: 95px
}

.mod_bu2 .fa {
position: relative;
}
.count {
/* border: 1px solid red; */
position: absolute;
border-radius: 19px;
padding: 3px 6px;
font-size: 12px;
background: #696565;
color: #fff;
top: -9px;
}
.dark_bu {
background: #000;
color: #fff !important;
display: block;
text-align:center;
padding:10px;
font-weight:normal!important;
margin:5px 0px;
border:1px solid #fff;
}
.dark_bu:hover{
background: #fff;
color:#000!important;
border:1px solid #000;
}
.check{
background: #fff;
color: #000 !important;
display: block;
text-align:center;
padding:10px;
border:1px solid #5c5c5c;
font-weight:normal!important;
margin:5px 0px;
}
.check:hover{
background:#5c5c5c;
color: #fff !important;
border:1px solid #5c5c5c;
}

.carousel-item video {
	width: 100%
}

.section {
	width: 100%;
	height: 100vh
}

.swiper-container {
	width: 100%;
	height: 100%
}

.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	font-size: 18px;
	background: #fff;
	overflow: hidden
}

.slide-image {
	position: absolute;
	top: -200px;
	left: -200px;
	width: calc(100% + 400px);
	height: calc(100% + 400px);
	background-position: 50% 50%;
	background-size: cover
}

.slide-title {
	font-size: 4rem;
	line-height: 1;
	max-width: 50%;
	white-space: normal;
	word-break: break-word;
	color: #fff;
	z-index: 100;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	font-weight: 400
}

.btn-log {
    background: #000;
    color: #fff !important;
    border-radius: 0px;
    font-weight: normal !important;
}

.btn.btn-log.btn-bloc:hover {
    background: #ddd;
    color: #000 !important;
}

.btn.btn-log:hover{
	background: #ddd;
	color: #000 !important;
}
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    margin: 0 auto;
    background: #f9f9f9;
}

.sign-container.card {
    max-width: 750px;
    padding: 40px 40px;
    margin: 0 auto;
    background: #f9f9f9;
}

.sign-container img, .card-container img {
    /*width: 258px;*/
    margin: 0 auto;
}

@media (min-width:45em) {
	.slide-title {
		font-size: 7vw;
		max-width: none
	}
}

.slide-title span {
	white-space: pre;
	display: inline-block;
	opacity: 0
}

.slideshow {
	position: relative
}

.slideshow-pagination {
	position: absolute;
	bottom: 5rem;
	left: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	transition: .3s opacity;
	z-index: 10
}

.slideshow-pagination-item {
	display: flex;
	align-items: center
}

.slideshow-pagination-item .pagination-number {
	opacity: .5
}

.slideshow-pagination-item:focus,
.slideshow-pagination-item:hover {
	cursor: pointer
}

.slideshow-pagination-item:last-of-type .pagination-separator {
	width: 0
}

.slideshow-pagination-item.active .pagination-number {
	opacity: 1
}

.slideshow-pagination-item.active .pagination-separator {
	width: 10vw
}

.slideshow-navigation-button {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 5rem;
	z-index: 1000;
	transition: all .3s ease;
	color: #fff
}

.slideshow-navigation-button:focus,
.slideshow-navigation-button:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, .5)
}

.slideshow-navigation-button.prev {
	left: 0
}

.slideshow-navigation-button.next {
	right: 0
}

.pagination-number {
	font-size: 1.8rem;
	color: #fff;
	font-family: Oswald, sans-serif;
	padding: 0 .5rem
}

.pagination-separator {
	display: none;
	position: relative;
	width: 40px;
	height: 2px;
	background: rgba(255, 255, 255, .25);
	transition: all .3s ease
}

@media (min-width:45em) {
	.pagination-separator {
		display: block
	}
}

.pagination-separator-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform-origin: 0 0
}

#navbarNav .dropdown-menu.show {
	display: none
}

.navbar-nav>li.nav-item:hover .dropdown-menu {
	display: block;
	width: 240px;
	top: 43px
}

.navbar-nav>li.nav-item:hover .dropdown-menu a {
	display: block;
	padding: 7px;
	margin: 3px;
	color: #000;
	font-size: 13px
}

.navbar-nav>li.nav-item:hover .dropdown-menu a:hover {
	color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-weight: 700
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	background-color: #524444;
	background-size: 20px;
	border-radius: 6px;
	padding: 20px
}

.pro_head_new {
	font-size: 20px;
	margin-bottom: 20px
}

.fixed-top {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	-webkit-box-shadow: 0 1px 5px 0 rgba(219, 219, 219, .56);
	-moz-box-shadow: 0 1px 5px 0 rgba(219, 219, 219, .56);
	box-shadow: 0 1px 5px 0 rgba(219, 219, 219, .56)
}

#navbarNav {
	position: relative
}

.navigation {
	position: relative;
	margin-top: 17px
}

.navbarmng {
	margin: 0;
	padding: 20px
}

.navbarmng li {
	display: inline-block
}

.pad_left_30 {
	padding-left: 30px
}

.mar_top_75 {
	margin-top: 75px
}

.mar_top_55 {
	margin-top: 55px
}

.navbar-brand {
	width: 306px;
	float: left;
	display: inline-table;
	margin-right: 9%
}

.navbar-brand img {
	width: 246px
}

.newClass .navigation {
	margin-top: 8px
}

.text-right {
	text-align: right
}

.slide_coment {
	position: absolute;
	top: 50%;
	color: #fff;
	text-align: center;
	width: 100%;
	display: none
}

.feature {
	background-color: #9acd32;
	color: #adff2f
}

.navbar-light .navbar-nav .nav-link {
	color: #22222c;
	text-transform: uppercase;
	font-size: 13px;
	padding: 12px 50px
}

.article-intro {
	margin-bottom: 25px
}

.bg-light {
	background-color: #fff!important
}

.img-rounded {
	border-radius: 7px
}

.small-print {
	color: #7a7575;
	font-size: 14px;
	background-color: #f6f6f6;
	padding: 30px 0 5px;
	border-top: 1px solid #d4d4d4
}

.title-a {
	font-size: 2.6rem;
	font-weight: 600
}

.mng_ui .nav-tabs {
	width: 63%;
	margin: 0 auto;
	background: #f7f8fb;
	border-radius: 7px;
	margin-bottom: 37px;
	border-bottom: 4px solid #f7f8fb
}

.pro_head {
	padding: 12px;
	background: #f3f3f5;
	border-radius: 7px;
	margin-top: 5px;
	text-align: center;
	font-size: 14px
}

.mng_mob {
	margin-bottom: 15px
}

.item {
	margin-bottom: 15px
}
.col-md-3 {
	width: 50%;
}
.col-md-4 {
	width: 50%;
}
.tab .owl-carousel .owl-nav button.owl-next,
.tab .owl-carousel .owl-nav button.owl-prev {
	background: #000;
	color: inherit;
	border: none;
	padding: 4px 4px 18px!important;
	font: inherit;
	border-radius: 5px;
	font-size: 61px;
	color: #fff;
	line-height: 28px;
	background: #524444;
	opacity: .4
}

.pro_box img {
	border-radius: 5px;
	width: 100%
}

.pro_box {
	margin-bottom: 15px
}

.main_head {
	border-left: 4px solid #000;
	padding-left: 25px;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 14px
}

.navbar-right {
	float: right!important;
	margin-right: -15px
}

.nav_right_head {
	display: inline-block;
	text-align: right;
	list-style-type: none;
	padding: 0;
	/* position: absolute; */
	right: 0;
	margin-bottom: 13px;
	float: right;
	margin-top: 18px;
}

.navbar-nav {
	display: inherit
}

.btn-secondary {
	background: #f3f3f5;
	color: #000;
	text-transform: uppercase;
	border: 0;
	font-weight: 700;
	padding: 6px 17px
}

.nav_right_head li {
	display: inline-block;
	padding: 0 0 0 21px;
	color: #000;
	margin: 0
}

.xzoom-lens img,
.xzoom-preview img,
.xzoom-source img {
	display: block;
	max-width: none;
	max-height: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none
}

.xzoom-container {
	display: inline-block
}

.xzoom-thumbs {
	text-align: center;
	margin-bottom: 10px
}

.xzoom {
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5)
}

.xzoom2,
.xzoom3,
.xzoom4,
.xzoom5 {
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5)
}

.xzoom-gallery,
.xzoom-gallery2,
.xzoom-gallery3,
.xzoom-gallery4,
.xzoom-gallery5 {
	border: 1px solid #cecece;
	margin-left: 5px;
	margin-bottom: 10px
}

.xzoom-hidden,
.xzoom-source {
	display: block;
	position: static;
	float: none;
	clear: both
}

.xzoom-hidden {
	overflow: hidden
}

.xzoom-preview {
	border: 1px solid #888;
	background: #2f4f4f;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.xzoom-lens {
	border: 1px solid #555;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	cursor: crosshair
}

.xzoom-loading {
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 100%;
	opacity: .7;
	background: url(../images/xloading.gif);
	width: 48px;
	height: 48px
}

.xactive {
	-webkit-box-shadow: 0 0 3px 0 rgba(74, 169, 210, 1);
	-moz-box-shadow: 0 0 3px 0 rgba(74, 169, 210, 1);
	box-shadow: 0 0 3px 0 rgba(74, 169, 210, 1);
	border: 1px solid #4aaad2
}

.xzoom-caption {
	position: absolute;
	bottom: -43px;
	left: 0;
	background: #000;
	width: 100%;
	text-align: left
}

.xzoom-caption span {
	color: #fff;
	font-family: Arial, sans-serif;
	display: block;
	font-size: .75em;
	font-weight: 700;
	padding: 10px
}

.fluid_im {
	width: 100%
}

.footer-blurb {
	padding: 30px 0;
	background-color: #daa520;
	color: #000
}

.footer-blurb-item {
	padding: 30px
}

.item-list-a .fa-angle-right {
	display: none
}

.blocks {
	margin-bottom: 35px
}

.blocks .list-unstyled li {
	float: none;
	display: inline-block
}

.blocks .list-unstyled li .fa {
	color: #ababab;
	font-size: 36px;
	margin: 0 8px 0 0
}

.section-footer {
	padding-top: 15px;
	margin-top: 0;
	background: #f6f6f6
}

.list-unstyled a {
	font-size: 14px;
	color: #c3c3c3;
	display: block;
	padding: 5px 0;
	font-weight: 400
}

.w-body-a.im_img p {
	color: #7a7575;
	font-weight: 400
}

.list-unstyled a:hover {
	color: #fff
}

.tab .owl-stage-outer {
	margin: 0 auto
}

.tab nav>.nav.nav-tabs {
	border: none;
	color: #fff;
	border-radius: 0;
	margin-bottom: 25px
}

.tab nav {
	margin: 0 auto
}

.tab .owl-next {
	float: right
}

.tab .owl-nav {
	position: absolute;
	top: 41%;
	width: 100%
}

.item-list-a a {
	color: #7a7575
}

.item-list-a a:hover {
	color: #8c8c8c
}

.tab nav>div a.nav-item.nav-link,
.tab nav>div a.nav-item.nav-link.active {
	border: none;
	padding: 18px 25px;
	border-radius: 5px;
	background: #f3f3f5
}

.section-footer .w-title-a {
	color: #7a7575;
	text-transform: uppercase;
	font-size: 15px;
	padding-bottom: 5px
}

.nav-tabs .nav-item {
	margin-bottom: -1px;
	width: 203px;
	text-align: center;
	text-transform: uppercase;
	color: #222;
	float: left;
	font-size: 13px
}

.tab .tab-content {
	background: #fdfdfd;
	line-height: 25px;
	padding: 30px 25px
}

.tab nav>div a.nav-item.nav-link.active,
.tab nav>div a.nav-item.nav-link:focus,
.tab nav>div a.nav-item.nav-link:hover {
	border: none;
	background: #000;
	color: #fff;
	transition: background .2s linear
}

.item {
	text-align: center
}

.img-box-a,
.item,
.item_box,
.mng_mob,
.pro_im_holder {
	overflow: hidden;
	border-radius: 7px
}

.img-box-a img,
.item img,
.item_box img,
.mng_mob img,
.pro_im_holder img {
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s
}

.img-box-a:hover img,
.item:hover img,
.item_box:hover img,
.mng_mob:hover img,
.pro_im_holder:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.item_box img,
.item_box:hover img {
	z-index: -99
}

.car_pro_head {
	color: #22222c;
	font-size: 12px;
	font-weight: 400;
	margin: 4px 0
}

.cost {
	color: #97979c;
	font-size: 12px;
	font-weight: 400
}

.mod_head {
	text-align: center;
	font-size: 16px;
	color: #000;
	font-weight: 400;
	padding: 10px
}

.head_bold .car_pro_head,
.head_bold .cost {
	font-weight: 400
}

.logo_img {
	width: 296px
}

.left_space {
	margin-left: 140px
}

.inner_head {
	color: #acacb0;
	font-weight: 700;
	margin-bottom: 30px;
	font-size: 20px;
	text-align:left;
}

.inner_head span {
	color: #000
}

.footer_atl img {
	width: 25px
}

.navbar-light .dropdown-toggle::after {
	position: absolute;
	top: 22px;
	right: 5px
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .dropdown-item:hover,
.navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
	background: #000;
	border-radius: 5px
}

.subhead {
	font-size: 20px;
	color: #222;
	font-weight: 700;
	font-size: 18px
}

.mar_bot_141 {
	margin-bottom: 141px
}

.mar_top_bot_65 {
	margin-top: 65px;
	margin-bottom: 65px
}

.mar_top_35 {
	margin-top: 35px
}

.btn_default {
	background: #222;
	padding: 8px 24px;
	font-size: 16px;
	color: #fff;
	font-weight: 700
}

.mng_bu {
	width: 130px;
	margin: 0 auto
}

.mng_bu .btn_left {
	border-radius: 5px 0 0 5px
}

.mng_bu .btn:hover {
	background: #f0f0f0;
	box-shadow: none
}

.mng_bu .btn_right {
	border-radius: 0 5px 5px 0
}

.mng_bu .form-control {
	border: 0;
	background: #f0f0f0;
	text-align: center
}

.select_mng select:active,
.select_mng select:focus {
	box-shadow: none
}

a:focus,
select {
	outline: 0
}

,
.btn.active,
.btn:active,
.btn:focus {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.mng_form {
	background: #f3f3f5
}

.select-style {
	border-radius: 3px;
	overflow: hidden
}

.gift select.form-control:not([size]):not([multiple]) {
	background: #f3f3f5 url(../img/icon-select.png) no-repeat 90% 53%
}

select.form-control:not([size]):not([multiple]) {
	background: #f3f3f5 url(../img/icon-select.png) no-repeat 97% 53%
}

.select-style select {
	padding: 5px 8px;
	border: none;
	box-shadow: none;
	background: 0 0;
	background-image: none;
	-webkit-appearance: none
}

.select-style select:focus {
	outline: 0
}

.plus-minus-input {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.plus-minus-input .input-group-field {
	text-align: center;
	margin-left: .5rem;
	margin-right: .5rem;
	width: 80px
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none
}

.plus-minus-input .input-group-button .circle {
	border-radius: 50%;
	padding: .25em .8em;
	border: 0;
	background: 0 0
}

.select-styl {
	clear: both;
	width: 156px;
	padding: 0 5px;
	background: #f3f3f5;
	border-radius: 5px;
	margin: 0 auto
}

.select-styl .plus-minus-input .input-group-field {
	width: 59px;
	border: 0;
	background: 0 0
}

.bg_gray {
	background: #f3f3f5;
	font-weight: 400;
	font-size: 15px;
	overflow: auto;
	border-radius: 5px
}

.bg_gray p {
	margin-bottom: 25px
}

.bg_gray .fa {
	font-size: 30px;
	float: left;
	margin: 0 7px 0 0
}

.brd_left {
	border-right: 3px solid #c7c7c8
}

.brd {
	padding: 30px 0 30px 35px;
	margin-bottom: 15px
}

.bg_gray p:last-child {
	margin: 0
}

.bg_gray h4 {
	margin-bottom: 25px
}

.Celebrities .mod_head {
	text-align: center;
	margin: 0 0 35px
}

.form-control {
	font-size: 12px
}

.padd_25 {
	padding: 25px 25px 45px;
	background: #f3f3f5;
	border-radius: 5px 5px 0 0
}

.bg {
	background: #e7e7eb;
	padding: 9px;
	border-radius: 5px
}

footer {
	margin-top: 15px
}

.form-group label {
	font-size: 12px;
	font-weight: 700
}

.form-control-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-append>.btn,
.input-group-lg>.input-group-append>.input-group-text,
.input-group-lg>.input-group-prepend>.btn,
.input-group-lg>.input-group-prepend>.input-group-text {
	padding: .9rem 1rem;
	font-size: 14px;
	color: #8c8c91
}

.padd_25 .fa {
	margin-bottom: 17px
}

.heading_table {
	padding: 25px 0;
	margin: 0;
	border-bottom: 3px solid #f3f3f5
}

.bu_mng {
	margin-top: 45px
}

ul {
	list-style-type: none
}

.heading_table li {
	width: 19%;
	display: inline-block;
	text-align: center
}

.brd_sm.heading_table {
	border-bottom: 1px solid #f3f3f5;
	font-size: 15px
}

.form-group-new {
	margin-top: 35px
}

.select_big Select {
	border: 1px solid #ced4da;
	height: 50px!important
}

.container_radio {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute
}

.container_radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 5px
}

.container_radio:hover input~.checkmark {
	background-color: #ccc
}

.container_radio input:checked~.checkmark {
	background-color: #000
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none
}

.container_radio input:checked~.checkmark:after {
	display: block
}

.container_radio .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff
}

.btn:hover {
	background: 0 0;
	-webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .75);
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .75);
	color: #000
}

.img_holder img {
	margin: 0 2px
}

.mar_top_25 {
	margin-top: 25px
}

.heading_table.brd_sm.total {
	padding: 0;
	border: 0
}

.curcule {
	background: 0 0;
	padding: 4px;
	border-radius: 50%;
	border: 2px solid #e3e3e3;
	color: #e3e3e3
}

h5 {
	font-size: 18px
}

.icon_cover {
	float: left;
	padding: 9px 14px;
	margin: 0 26px 26px 0;
	background: #f3f3f5;
	border-radius: 5px
}

.mar_top_35 {
	margin-top: 35px;
	clear: both;
	font-size: 12px
}

.mar_bottom_35 {
	margin-bottom: 35px
}

.select_mng label {
	margin-top: 7px
}

.footer_atl {
	font-size: 0;
	font-weight: 400;
	color: transparent
}

a:hover {
	text-decoration: none
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	padding: 15px 15px 15px 15px;
	border: none;
	-webkit-box-shadow: 0 -1px 22px 0 rgba(217, 217, 217, 1);
	-moz-box-shadow: 0 -1px 22px 0 rgba(217, 217, 217, 1);
	box-shadow: 0 -1px 22px 0 rgba(217, 217, 217, 1)
}

.navbar-expand-lg .navbar-nav .dropdown-menu a {
	border-radius: 5px
}

.container {
	max-width: 90%;
	width: 90%
}

.newClass .navbar {
	padding: 0 1rem
}

.newClass .navbar-brand {
	width: 246px
}

.pop_im {
	padding: 10px 0 0 0;
	left: 0;
	right: 0;
	text-align: center
}

.pop_im h1,
.pop_im h4 {
	color: #000;
	text-transform: uppercase;
	font-size: 1.75rem
}

.select_mng label {
	float: left
}

.select_mng select {
	width: 125px
}

.celeb {
	text-align: center;
	margin: 0 auto
}

.celeb {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 0
}

.celeb li {
	display: inline-block
}

.celeb li a {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 15px;
	color: #000
}

.celeb li a.active {
	background: #ccc
}

.coming_soon img {
	width: 100%;
	height: 100%
}

.coming_soon {
	padding-top: 0;
	height: 100%;
	overflow: hidden
}

.pop_im h1 {
	font-size: 1.5em
}

.col-md-8.col-sm-8.col-xs-12.arebic.mng_mob a {
	display: block;
	overflow: hidden;
	border-radius: 8px
}

.col-md-4.col-sm-4.col-xs-12.arebic.mng_mob a {
	display: block;
	overflow: hidden;
	border-radius: 8px
}

.pop_im h4 {
	padding: 12px;
	background: #f3f3f5;
	border-radius: 7px;
	margin-top: 5px;
	text-align: center;
	font-size: 14px;
	text-transform: capitalize
}

.head_bold .owl-dots {
	display: none
}

.small_lg img {
	width: 25px
}

.small_lg {
	position: absolute;
	top: 0;
	right: 0
}

.navbar-toggler {
	padding: 4px;
	font-size: 15px;
	position: absolute;
	right: 12px;
	top: 27px
}

#nav-tabContent .item {
	margin-bottom: 0
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99;
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(../img/preloader.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px;
}
