/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
 
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1000px) {

 .nav_right_head li {

	padding:0px 0px 0px 8px;

}
.navbar-light .navbar-nav .nav-link {
	padding: 12px 10px;
	font-size: 13px;
}
.navbar-brand {
	width: 212px;
}
}
@media (min-width:1001px) and (max-width: 1050px) {
 .nav_right_head li {

	padding:0px 0px 0px 8px;

}
.navbar-light .navbar-nav .nav-link {
	padding: 12px 12px;
	font-size: 13px;
}
.navbar-brand {
	width: 212px;
}	
}
@media (min-width:1051px) and (max-width: 1060px) {
 .nav_right_head li {

	padding: 21px 0px 0px 8px;

}
.navbar-light .navbar-nav .nav-link {
	padding: 12px 17px;
	font-size: 13px;
}
.navbar-brand {
	width: 212px;
}	
}
@media (min-width:1061px) and (max-width: 1120px) {
.navbar-light .navbar-nav .nav-link {
	padding: 12px 9px;
	font-size: 13px;
}
.navbar-brand {
	width: 252px;
}	
}
@media (min-width:1123px) and (max-width: 1278px) {
.navbar-light .navbar-nav .nav-link {
	padding: 12px 10px;
	font-size: 13px;
}	
}
@media (min-width:1161px) and (max-width: 1211px) {
.navbar-light .navbar-nav .nav-link {
	padding: 12px 17px;
	font-size: 13px;
}	
}
@media (min-width:1261px) and (max-width: 1311px) {
.navbar-light .navbar-nav .nav-link {
	padding: 12px 20px;
	font-size: 13px;
}	
}
@media (min-width:1312px) and (max-width: 1371px) {
.navbar-light .navbar-nav .nav-link {
	padding: 12px 24px;
	font-size: 13px;
}
}
@media (min-width:1372px) and (max-width: 1422px) {
.navbar-light .navbar-nav .nav-link {
	padding: 12px 31px;
	font-size: 13px;
}
}
@media (min-width:1423px) and (max-width: 1522px) {
.navbar-light .navbar-nav .nav-link {
	padding: 12px 30px;
	font-size: 13px;
}
}
@media (min-width:1523px) and (max-width: 1622px) {
.navbar-light .navbar-nav .nav-link {
	padding: 12px 46px;
	font-size: 13px;
}
}
@media (min-width:1623px) and (max-width: 1722px) {
.navbar-light .navbar-nav .nav-link {
	padding: 12px 45px;
	font-size: 13px;
}
}
@media (min-width:1723px) and (max-width: 1822px) {
.navbar-light .navbar-nav .nav-link {
	padding: 12px 45px;
	font-size: 13px;
}
}
@media (min-width: 768px) and (max-width: 1376px) {
  


}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
.col-md-3.pro_box, .section-md-t3 {
	width: 50%;
	max-width: 50%;
}
.mng_mob.col-md-8.col-sm-8.col-xs-12{
	width:60%;
} 
.mng_mob.col-md-4.col-sm-4.col-xs-12{
	width:40%;
} 
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
.tab nav > div a.nav-item.nav-link, .tab nav > div a.nav-item.nav-link.active {
	padding: 9px 6px;
	width: inherit;
	font-size: 13px;
	font-weight: normal;
	margin: 0px 3px;
}
.mar_top_75 {
	margin-top: 41px;
}
.navbar-brand {
	width: 72%;
}
}