@media (min-width:768px) and (max-width:991px) {
.nav_right_head{
	position:relative;
}
.navbar-nav > li.nav-item:hover .dropdown-menu{
box-shadow:inherit;
	padding:0px;
	top:0;
	width:100%;
}
.devide{
	display:block;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
	padding:12px 8px !important;
	text-transform: uppercase;
	margin: -2px 0px 0px 0px !important;
	top: -4px !important;
	left: 0px;
}
.nav_right_head {
	float: left;
	margin: 10px 0px 10px 32px;
}
}
@media (min-width:768px) and (max-width:1000px) {
	.res_cart table {
	max-width:inherit;
	width:965px;
}
.pro_hold {

	padding:15px;

}
.container {
	max-width: 98%;
	width: 98%;
}
.navbar-brand{
	margin-right:0%;
}
.col-md-3.col-sm-5.col-xs-12.mng_cu_pro1{
	-webkit-box-flex: 0;
-ms-flex: 0 0 35%;
flex: 0 0 33%;
max-width: 35%;
}


.pro_hold h6 {
	font-size: 16px;
	margin: 8px 0px 0px;
}
.mar_left_45 {
	margin-left:0px;
}
	.nav_right_head li {
		padding: 0 0 0 8px
	}
	.res_cart {
	overflow-y: scroll;
}
	.navbar-light .navbar-nav .nav-link {
	padding: 12px 8px;
	font-size: 13px;
}

	.navbar-brand {
		width: 212px
	}
	.nav_right_head{
		padding:0px;
	}
	.navbar-expand-lg .navbar-nav li {
	margin:0px 0px 0px 17px;
}
.navbar-light .dropdown-toggle::after {
	right:inherit;
}
}

@media (min-width:1001px) and (max-width:1050px) {
	.nav_right_head li {
		padding: 0 0 0 8px
	}
	.res_cart table {
	max-width:inherit;
	width:965px;
}
	.container {
	max-width: 99%;
	width: 99%;
}
.newClass .navbar-brand {
	width:200px;
}
.navbar-brand img {
	width: 200px;
}
	.navbar-expand-lg .navbar-nav li {
	margin: 0px 0px 0px 7px;
}
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 12px;
		font-size: 13px
	}
	.navbar-brand {
		width: 212px;
		margin-right: 2%
	}
}

@media (min-width:1051px) and (max-width:1060px) {
		.container {
	max-width: 99%;
	width: 99%;
}
.navbar-light .navbar-brand {
	width:246px;
	margin-right:0%;
}
	.nav_right_head li {
		padding: 0px 0 0 8px;
	}
	.navbar-expand-lg .navbar-nav li {
	margin: 0px 0px 0px 9px;
}
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 17px;
		font-size: 13px
	}
	.navbar-brand {
		width: 212px
	}


}
@media (min-width:1061px) and (max-width:1120px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 15px;
		font-size: 13px
	}

		.container {
	max-width: 99%;
	width: 99%;
}
	.navbar-expand-lg .navbar-nav li {
	margin: 0px 0px 0px 1px;
}
.navbar-light .navbar-brand {

	margin: 0px;
}
}

@media (min-width:1123px) and (max-width:1278px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 15px;
		font-size: 13px
	}

	.navbar-expand-lg .navbar-nav li {
	margin:0px 0px 0px 9px;
}
}

@media (min-width:1161px) and (max-width:1211px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 17px;
		font-size: 13px
	}
}

@media (min-width:1261px) and (max-width:1311px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 17px;
		font-size: 13px
	}
	.navbar-brand {
		margin-right:0%
	}
	.navbar-brand{
		width:0px;
	}
	.navbar-expand-lg .navbar-nav li {
	margin: 0px 0px 0px 43px;
}
}

@media (min-width:1312px) and (max-width:1371px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 20px;
		font-size: 13px
	}
	.navbar-brand {
		margin-right:0%
	}

	.navbar-brand{
		width:0px;
	}
	.navbar-expand-lg .navbar-nav li {
	margin:0px 0px 0px 43px;
}
}
@media (min-width:1372px) and (max-width:1422px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 27px;
		font-size: 13px
	}
	.navbar-brand {
		margin-right: 0%
	}
	.navbar-expand-lg .navbar-nav li {
	margin:0px 0px 0px 30px;
}
}

@media (min-width:1423px) and (max-width:1522px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 30px;
		font-size: 13px
	}
	.navbar-expand-lg .navbar-nav li {
	margin:0px 0px 0px 30px;
}
}
@media (min-width:1523px) and (max-width:1622px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 41px;
		font-size: 13px
	}
	.navbar-brand {
		margin-right: 2%
	}
	.navbar-expand-lg .navbar-nav li {
	margin:0px 0px 0px 30px;
}
}

@media (min-width:1623px) and (max-width:1722px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 40px;
		font-size: 13px
	}
	.navbar-expand-lg .navbar-nav li {
	margin:0px 0px 0px 48px;
}
}
@media (min-width:1723px) and (max-width:1822px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 12px 45px;
		font-size: 13px
	}
	.navbar-expand-lg .navbar-nav li {
	margin:0px 0px 0px 48px;
}
}
@media (min-width:481px) and (max-width:767px) {
.drop_panel, .drop_panel2{
	left:0;
	bottom:0;
}
.mng_tab.tab .nav-fill .nav-item .nav-link {
	padding: 5px;
}
.nav_right_head .drop_panel2 li:nth-child(2) {

}
.nav_right_head .drop_panel2 li:nth-child(1) {

}

	.col-md-3.pro_box,
	.section-md-t3 {
		width:50%;
		max-width:50%
	}
	.img_holder img {
	margin: 0 2px;
	width: 34px;
}
	.sign-container.card{
	padding:0px;
}
.inner_head {

}
.pro_head_new {
	font-size: 16px;
	text-align: left;
}
.brd_left {

	padding-right: 15px;
}

	.mar_top_bot_65{
		margin-top:0px;
	}
	.left_space {
	margin-left: 0px;
}
	.sign-container.card{
	padding:0px;
}
	.res_cart {
	overflow-y: scroll;
}
	.mar_top_75 {
	margin-top: 15px;
}
	.mng_mob.col-md-8.col-sm-8.col-xs-12 {
		width: 60%
	}
	.mar_left_45 {
	margin-left:0px;
}
	.celeb li a {
		padding: 5px
	}
	.mng_mob.col-md-4.col-sm-4.col-xs-12 {
		width: 40%
	}
	.nav-tabs .nav-item {
		width: 134px;
		font-size: 11px
	}
	.pop_im {
		top: 24%;
		font-size: 20px
	}
	h1 {
		font-size: 20px
	}
	.navbar-brand,
	.newClass .navbar-brand {
		margin: 0
	}
	.navbar-expand-lg .navbar-nav li {
	margin: 0px 0px 0px 0px;
}
	.navbar-nav > li.nav-item:hover .dropdown-menu{
	box-shadow:inherit;
	padding:0px;
	top:0;
	width:100%;
}
.devide{
	display:block;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
	padding: 12px 50px !important;
	text-transform: uppercase;
	margin: -2px 0px 0px 0px !important;
	top: -4px !important;
	left: 0px;
}
.nav_right_head {
	float: left;
	margin:;
	position:relative;
}
.res_cart table {
	max-width:inherit;
	width:965px;
}
}

@media (min-width:320px) and (max-width:480px) {
.drop_panel, .drop_panel2{
	left:0;
	width:250px;
	bottom:0;
}
.nav_right_head .drop_panel2 li:nth-child(2) {
	width: 146px;
}
.nav_right_head .drop_panel2 li:nth-child(1) {
	width: 72px;
}
.nav_right_head{
	position:relative;
}
.res_cart table {
	max-width:inherit;
	width:965px;
}
.img_holder img {
	margin: 0 2px;
	width: 34px;
}
.container {
	max-width:100%;
	width:100%;
}
.inner_head {
	margin-bottom: 0px;
}
.pro_head_new {
	font-size: 16px;
	text-align: left;
}
	.brd_left {
		border-right:0px;
	}
.left_space {
	margin-left: 0px;
}
.sign-container.card{
	padding:0px;
}
.brd {
	padding: 15px;
}
.res_cart {
	overflow-y: scroll;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
	padding: 12px 50px !important;
	text-transform: uppercase;
	margin: -2px 0px 0px 0px !important;
	top: -4px !important;
	left: 0px;
}
.mar_top_75 {
	margin-top:0px;
}
.mar_top_bot_65 {
	margin-top: 0px;

}
.mar_left_45 {
	margin-left:0px;
}
.devide{
	display:block;
}
.bg_gray p {
	text-align: left;
}
	.nav_right_head {
	float: left;

}
	.navbar-nav > li.nav-item:hover .dropdown-menu{
	box-shadow:inherit;
	padding:0px;
	top:0;
	width:100%;
}
	.tab nav>div a.nav-item.nav-link,
	.tab nav>div a.nav-item.nav-link.active {
		padding: 9px 6px;
		width: inherit;
		font-size: 11px;
		font-weight: 400;
		margin: 0 3px
	}
	.celeb li a {
		padding: 5px
	}
	.mar_top_75 {
		margin-top: 41px
	}
	.nav-tabs .nav-item {
		width: 118px
	}
	.navbar-brand,
	.newClass .navbar-brand {
		width: 72%;
		margin: 0
	}
	.col-md-12.text-center img {

	}
	.navbar-expand-lg .navbar-nav li {
	margin: 0px 0px 0px 0px;
}
}
@media (min-width:320px) and (max-width:852px) {
.heading_table li {
	/* width: inherit; */
	font-size: 13px;
}
.res_cart{

	overflow-y:scroll;
}
.navbar-light .navbar-nav .nav-link{
	padding:15px;
}
}


.pop_im {
	top: 5%
}

