/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */


  .account-pages {
    background: url("../img/home.jpg");
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

#extr-page {
    background: url("../img/home.jpg");
}

.modal-open {
 overflow: auto;
}

.content
{
    /*margin-top: 5em;*/
}

.alignWizard
{
width: 70%;
text-align: center;
float: right;
}

.fc-border-separate thead tr, .table thead tr {
	font-size: 14px;
}

.padding-bottom-20
{
	padding-bottom: 20px;
}


@media(min-width: 768px) and (max-width: 1920px)
{
.pager{
    width: 25%;
    margin-left: 27% !important;
}
}

/*Invoice Data*/
.invoice-cont hr{
    margin: 0px;
    border: inherit;
    border-top: 1px solid #000000;
}

.invoice-cus-head{
    margin: 1.5vh 0;
}

.invoice-cus-head-hr hr{
    border-top: 1px dotted #000000;
}

.red-spn{
    color: red;
}

.invoice-accord {
  position: relative;
  background-color: #d4d6d6 !important;
}

.invoice-accord[data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "\02C5";
  position: absolute;
  color: #000000;
  font-size: 18px;
  line-height: 22px;
  top: calc(50% - 14px);
}

.invoice-accord h4{
    margin-left: 2vw;
}

.marg{
    margin: 1vh 0;
    float: left;
    width: 100%;
}

.bolder-p{
    font-weight: 900;
    font-size: 15px;
}

.prev hr{
    margin-bottom: 5vh;
}